<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.rjfun.cordova.plugin.qihu360ad" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>Qihu360Ad</name><js-module name="Qihu360Ad" src="www/Qihu360Ad.js"><clobbers target="window.plugins.Qihu360Ad" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="Qihu360Ad"><param name="android-package" value="com.rjfun.cordova.plugin.qihu360ad.Qihu360Ad" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/Qihu360Ad.java" target-dir="src/com/rjfun/cordova/plugin/qihu360ad/Qihu360Ad" /></platform></plugin>
